
<div class="conteiner-fluid">
    <div class="row m-4 text-center">
        <h1>LE NOSTRE PIZZE</h1>
    </div>
    <div class="row card-group text-center mb-5">
        <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-9 col-sm-12 mb-2">
            <div class="card border-dark">
            <img src="~/img/pizza-margherita.jpg" class="card-img-top" alt="pizza margherita">
                <div class="card-body">
                    <h5 class="card-title">Pizza Margherita</h5>
                    <p class="card-text">Ingredienti:<br/> pomodoro, basilico e mozzarella</p>
                    <p class="card-text">Prezzo: <strong>5,00 &euro;</strong></p>
                    <a href="#" class="btn btn-dark">Aggiungi al carrello</a>     
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-9 col-sm-12 mb-2">
            <div class="card border-dark">
            <img src="~/img/pizza-napoli.jpg" class="card-img-top" alt="pizza napoli">
                <div class="card-body">
                    <h5 class="card-title">Pizza Napoli</h5>
                    <p class="card-text">Ingredienti:<br/>pomodoro, mozzarella e alici</p>
                    <p class="card-text">Prezzo: <strong>4,50 &euro;</strong></p>
                    <a href="#" class="btn btn-dark">Aggiungi al carrello</a>     
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-9 col-sm-12 mb-2">
            <div class="card border-dark">
            <img src="~/img/pizza-4formaggi.jpg" class="card-img-top" alt="pizza 4 formaggi">
                <div class="card-body">
                    <h5 class="card-title">Pizza 4 Formaggi</h5>
                    <p class="card-text">Ingredienti:<br/> mozzarella,parmigiano, pecorino e gorgonzola</p>
                    <p class="card-text">Prezzo: <strong>6,00 &euro;</strong></p>
                    <a href="#" class="btn btn-dark">Aggiungi al carrello</a>     
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-9 col-sm-12 mb-2">
            <div class="card border-dark">
            <img src="~/img/pizza-bolognese.jpg" class="card-img-top" alt="pizza bolognese">
                <div class="card-body">
                    <h5 class="card-title">Pizza Bolognese</h5>
                    <p class="card-text">Ingredienti:<br/> mortadella, stracciatella e granella di pistacchio</p>
                    <p class="card-text">Prezzo: <strong>8,00 &euro;</strong></p>
                    <a href="#" class="btn btn-dark">Aggiungi al carrello</a>     
                </div>
            </div>
        </div>
    </div>
    <div class="row card-group text-center">
        <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-9 col-sm-12 mb-2">
            <div class="card border-dark">
            <img src="~/img/pizza-boscaiola.jpg" class="card-img-top" alt="pizza boscaiola">
                <div class="card-body">
                    <h5 class="card-title">Pizza Boscaiola</h5>
                     <p class="card-text">Ingredienti:<br/> mozzarella, funghi champignon e salsiccia</p>
                     <p class="card-text">Prezzo: <strong>7,00 &euro;</strong></p>
                     <a href="#" class="btn btn-dark">Aggiungi al carrello</a>     
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-9 col-sm-12 mb-2">
            <div class="card border-dark">
            <img src="~/img/pizza-capricciosa.jpg" class="card-img-top" alt="pizza capricciosa">
                <div class="card-body">
                    <h5 class="card-title">Pizza Capricciosa</h5>
                    <p class="card-text">Ingredienti:<br/>pomodoro, mozzarella, prosciutto cotto, carciofi, olive</p>
                    <p class="card-text">Prezzo: <strong>7,50 &euro;</strong></p>
                    <a href="#" class="btn btn-dark">Aggiungi al carrello</a>     
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-9 col-sm-12 mb-2">
            <div class="card border-dark">
            <img src="~/img/pizza-mari-monti.jpg" class="card-img-top" alt="pizza mari e monti">
                <div class="card-body">
                    <h5 class="card-title">Pizza Mari e Monti</h5>
                    <p class="card-text">Ingredienti:<br/>mozzarella, funghi misti e cozze</p>
                    <p class="card-text">Prezzo: <strong>9,00 &euro;</strong></p>
                    <a href="#" class="btn btn-dark">Aggiungi al carrello</a>     
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-9 col-sm-12 mb-2">
            <div class="card border-dark">
            <img src="~/img/pizza-sfiziosa.jpg" class="card-img-top" alt="pizza sfiziosa">
                <div class="card-body">
                    <h5 class="card-title">Pizza Sfiziosa</h5>
                    <p class="card-text">Ingredienti:<br/>prosciutto crudo, mozzarella e noci</p>
                    <p class="card-text">Prezzo: <strong>8,00 &euro;</strong></p>
                    <a href="#" class="btn btn-dark">Aggiungi al carrello</a>     
                </div>
            </div>
        </div>
    </div>
</div>


      